*{
    font-family: Arial;
    font-size: 12px;
}
table{
    margin:  0 auto;
    border: 1px solid #000;
}
tr:first-child,tr:first-child:hover{
    background-color: #b48b1d;
    font-weight: 800;
}

input{
    opacity: 1;
    background-color: #373737;
}

td{
    padding: 2px 4px;
}

tr:nth-child(2n){
    background-color:  #ccff66;
}

tr:hover{
    background-color: #cccc77;
}

tr:nth-child(2n):hover{
    background-color:  #aacc44;
}

body{
    background-color: #ffff99;
}

#logout, #loginForm input[type=submit]{
    background-color: #b48b1d;
    border: 0px;
    padding: 3px 5px;
}
#logout:active, #loginForm input,input[type=submit]:active{
    -webkit-box-shadow: inset 2px 3px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 2px 3px 5px 1px rgba(0,0,0,0.5);
    box-shadow: inset 2px 3px 5px 1px rgba(0,0,0,0.5);
}

#logout, #loginForm input[type=submit]{
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}



form#loginForm{
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
}

#loginForm input{
    line-height: 2vh;
    background-color: #ffff99;
}

#loginForm input[type=submit]{
    margin-top: 10px;
}